<%- include('partials/head.ejs') %>
<body>
  <style>
    .parentContainerOfAllchild {
      min-height: 100%;
      background: white;
    }

    .buttonsSection {
      justify-content: space-between;
      display: flex;
      flex-direction: row-reverse;
    }

    .buttonsSection a:hover {
      color: white;
    }

    .buttonsSection a {
      text-decoration: none;
    }

    .buttonsSection a {
      background-color: #ffffff;
    }

    .table td {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-wrap: break-word;
    }
    .parentContainerOfAllchild {
        min-height: 100%;
        background: white;
      }

      .buttonsSection {
        /* padding: 15px; */
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
      }

      .buttonsSection a:hover {
        color: white;
      }

      .buttonsSection a {
        text-decoration: none;
      }

      .buttonsSection a {
        background-color: #ffffff;
      }

      .table td {
                       max-width: 200px;
                       white-space: nowrap;
                       overflow: hidden;
                       text-overflow: ellipsis;
                       white-space: normal;
                       word-wrap: break-word;
                   }
#UniqueDesignForModal{
  width: 50%;
  margin: auto;
  margin-top: 17%;
  background: white;
}

  .modal {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                  }

                  .modal-content {
                    background-color: #fff;
                    margin: 22% auto;
                    padding: 20px;
                    border: 1px solid #888;
                    width: 45%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    padding: 44px;
                    padding-top: 25px;
                  }

                  .close {
                    color: #aaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row-reverse;
                  }

                  .close:hover {
                    color: black;
                  }

                    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .pagination button {
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #11550b;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .pagination button:hover {
      background-color: #30a76b;
    }

    /* Add styles for search input */
    .search-container {
      margin-bottom: 10px;
    }

    .search-container input[type=text] {
      padding: 5px;
      margin-right: 5px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .search-container button {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .search-container button:hover {
      background-color: #45a049;
    }
        .search-container {
      margin-bottom: 10px;
    }

    .search-container input[type=text] {
      padding: 5px;
      margin-right: 5px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .search-container button {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .search-container button:hover {
      background-color: #45a049;
    }
    #searchInput {
    padding: 57px -34px 9px 86px;
    width: 294px;
    border: 1px solid black;
    border-radius: 5px;
}
.search-container input[type=text] {
    padding: 5px;
    margin-right: 5px;
    width: 303px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  </style>
  <div class="container-scroller">
    <%- include('partials/navbar.ejs') %>
    <div class="container-fluid page-body-wrapper">
      <%- include('partials/sidebar.ejs') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
              </span> campaigns
            </h3>
          </div>

          <div class="buttonsSection">
            <a href="/createCampaigns" class="button-12" id="openModalBtn" style="display: flex; align-items: center;">
              <span style="margin-left: -18px; color: black;">Create</span>
              <i class="fa-solid fa-plus" style="margin-left: 56px; margin-top: -17px; color:black;"></i>
            </a>
          </div>

          <div class="row" style="margin-top: 6px;">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <!-- <a href="/detaildcampaignHistory">Click here</a> -->
                  <h1></h1>


                  <div class="containPaginationINfo"></div>

                  <table class="table" id="campaignsTable">
                            <!-- Add search container -->
        <div class="search-container">
          <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for campaign names..">
        </div>
                    <thead>
                      <tr>
                        <th>Campaign Name</th>
                        <th>Contacts</th>
                        <th>Template</th>
                        <th>Created At</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let i=0; i < campaigns.length; i++) { %>
                      <tr>
                        <td><%= campaigns[i].campaignName %></td>
                        <td><%= campaigns[i].phoneOfTemp %></td>
                        <td><%= campaigns[i].messageType %></td>
                        <td><%= new Date(campaigns[i].createdAt).toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }) %></td>
                        <td style="width: 92px;">
                          <a href="#"
                            onclick="redirectToSendCampaign('<%= campaigns[i].phoneOfTemp %>', '<%= campaigns[i].messageType %>')"
                            style="text-decoration: none; color: white; background-color: #015401; padding: 5px; border-radius: 3px; display: flex; justify-content: space-between;">
                            <i class="fa fa-paper-plane" aria-hidden="true" style="color: white"></i><span>Sent</span>
                          </a>
                        </td>
                        <td style="width: 92px;">
  <a href="#" onclick="deleteCampaign('<%= campaigns[i]._id %>')" style="text-decoration: none; color: rgb(15, 0, 0); background-color: #ffffff; padding: 5px; border-radius: 3px;">
    <i class="fa fa-trash" aria-hidden="true"></i>
  </a>
</td>

                      </tr>
                      <% } %>
                    </tbody>
                  </table>



<!-- Add pagination HTML -->
<div class="pagination">
  <button onclick="prevPage()">Previous</button>
  <button onclick="nextPage()">Next</button>
</div>


                </div>
              </div>
            </div>
          </div>


                <div class="row" style="margin-top: 6px;">
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <h2 class="text-center mt-5">Campaign Details</h2>
                      <div class="card-body">
                            <!-- Add search container for campaign details history table -->
        <!-- <div class="search-container">
          <input type="text" id="searchInput2" onkeyup="searchTable2()" placeholder="Search for campaign details..">
        </div> -->

                        <div class="containPaginationINfo">
                          <!-- <h3>Message Has Been Sent</h3> -->
                        </div>

                        <div class="table-container">
                                 <p>Click on the file and Group name to see the phone numbers and name</p>
                            <table class="table" id="campaignDetailsTable">
      <div class="search-container">
          <input type="text" id="searchInput2" onkeyup="searchTable2()" placeholder="Search for campaign details..">
        </div>

                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Campaign Name</th>
                                        <th>Message Type</th>
                                        <th>Template Name</th>
                                        <th>Contacts </th>
                                        <th>Created At</th>
                                        <!-- <th>Action</th> Add a new column for the button -->
                                    </tr>
                                </thead>
                                <!-- Inside your EJS template (DetailCampaignHistory.ejs) -->
                                <tbody>
                                    <% showingcampaignHistory.forEach((campaign, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= campaign.campaignName %></td>
                                            <td><%= campaign.messageType %></td>
                                            <td><%= campaign.message %></td>
                                            <td>
                                                <% if (campaign.phoneNumbers) { %>
                                                    <%= campaign.phoneNumbers %>
                                                <% } else if (campaign.GroupName) { %>
                                                    <a href="#" onclick="openModal('<%= campaign.GroupName %>')">
                                                        <%= campaign.GroupName %>
                                                    </a>
                                                <% } else if (campaign.fileName) { %>
                                                    <a href="#" onclick="openModal('<%= campaign.fileName %>')">
                                                        <%= campaign.fileName %>
                                                    </a>
                                                <% } %>
                                            </td>
                                            <td>
                                                <%= new Date(campaign.createdAt).toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }) %>
                                            </td>
                                            <td><!-- Add actions/button here --></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                          </div>
    <!-- Pagination for the second table -->
    <div class="pagination" id="pagination2">
        <button onclick="prevPage2()">Previous</button>
        <button onclick="nextPage2()">Next</button>
    </div>
                      </div>
                     </div>
                  </div>
                  </div>
          </div>
      </div>
      </div>
  </div>
</body>
  <script>
  function redirectToSendCampaign(phoneOfTemp, messageType) {
      if (messageType === 'custom') {
        window.location.href = `/sendCampaignMessage?phoneOfTemp=${phoneOfTemp}&messageType=custom`;
      } else if (messageType === 'template') {
        window.location.href = `/sendCampaignMessage?phoneOfTemp=${phoneOfTemp}&messageType=template`;
      }
    }

  function deleteCampaign(campaignId) {
  if (confirm("Are you sure you want to delete this campaign?")) {
    fetch(`/deleteCampaign/${campaignId}`, {
      method: 'DELETE'
    })
    .then(response => {
      if (response.ok) {
        // Update the UI to remove the deleted campaign
        document.getElementById(campaignId).remove();
      } else {
        throw new Error('Failed to delete campaign');
      }
    })
    .catch(error => {
      console.error('Error deleting campaign:', error);
    });
  }
}


    function openModal(name) {
        var modal = document.getElementById('myModal');
        modal.style.display = 'block';
        // Use the 'name' parameter here as needed
    }

    function closeModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'none';
    }

    window.onclick = function (event) {
        var modal = document.getElementById('myModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    };



    function searchTable() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("campaignsTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those that don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0]; // Change index to match the column you want to search (0 for Campaign Name)
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }


    function searchTable2() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput2");
      filter = input.value.toUpperCase();
      table = document.getElementById("campaignDetailsTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those that don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1]; // Change index to match the column you want to search (1 for Campaign Name)
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }


  // Define variables for pagination
  var currentPage = 1;
  var rowsPerPage = 2; // Number of rows to display per page

  function prevPage() {
    if (currentPage > 1) {
    currentPage--;
  displayRows();
    }
  }

  function nextPage() {
    var table = document.getElementById("campaignsTable");
  var totalPages = Math.ceil(table.rows.length / rowsPerPage);
  if (currentPage < totalPages) {
    currentPage++;
  displayRows();
    }
  }

  function displayRows() {
    var table = document.getElementById("campaignsTable");
  var rows = table.getElementsByTagName("tr");

  // Calculate start and end index for current page
  var startIndex = (currentPage - 1) * rowsPerPage;
  var endIndex = startIndex + rowsPerPage;

  // Loop through all rows and display or hide based on current page
  for (var i = 0; i < rows.length; i++) {
      if (i >= startIndex && i < endIndex) {
    rows[i].style.display = "";
      } else {
    rows[i].style.display = "none";
      }
    }
  }

  // Call displayRows() when the page loads
  window.onload = function() {
    displayRows();
  };



// Define variables for pagination of the second table
var currentPage2 = 1;
var rowsPerPage2 = 5; // Number of rows to display per page

function prevPage2() {
    if (currentPage2 > 1) {
        currentPage2--;
        displayRows2();
    }
}

function nextPage2() {
    var table = document.getElementById("campaignDetailsTable");
    var totalPages = Math.ceil(table.rows.length / rowsPerPage2);
    if (currentPage2 < totalPages) {
        currentPage2++;
        displayRows2();
    }
}

function displayRows2() {
    var table = document.getElementById("campaignDetailsTable");
    var rows = table.getElementsByTagName("tr");

    // Calculate start and end index for current page
    var startIndex = (currentPage2 - 1) * rowsPerPage2;
    var endIndex = startIndex + rowsPerPage2;

    // Loop through all rows and display or hide based on current page
    for (var i = 0; i < rows.length; i++) {
        if (i >= startIndex && i < endIndex) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }
    }
}

// Call displayRows2() when the page loads
window.onload = function() {
    displayRows2();
};

</script>
</html>
